* {
  box-sizing: border-box;
}

body {
  font-family: "Sintony", sans-serif;
  font-size: 90%;
  width: auto;
  color:#134D94;
  background-color: #FDF5C9;
}
h1 {
  font-family:"Ubuntu Mono", sans-serif;
  font-size: 1.8em;
  text-align: center;
  background-color: #062D5C;
  color: #FFFFFF;
}
h2 {
  font-family: "PT Sans", sans-serif;
  color: #062D5C;
}

.heading{
	border-bottom: 1px solid black;
  border-color: ;
  max-width: 90px;
}
.info_container{
  margin: 10px;
  padding: 10px;
  width:auto;
  text-align: left;
}
.coursework_container {
  background-color: white;
  padding: 8px;
  width: auto;
  clear: both;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 10px;
}
.coursework_container h2 {
  padding: 4px;
  background-color: #E28E0B;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.headshot {
  padding: 10px;
  float: right;
  height: 175px;
}

.row {
  clear:both;
  width: 100%;
}

.column h2 {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.column {
  background-color: white;
  padding: 8px;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  float: left;
  width: 100%;
}

#project1 h2 {
  background-color: #062D5C;
  color:#FFFFFF;
}
#project2 h2 {
  background-color: #0A3B76;
  color:#FFFFFF;
}

#project3 h2  {
  background-color: #2F63A1;
  color:#FFFFFF;
}

@media (min-width: 768px) and (max-width: 991px) {
  #project1 {
    width: 46%;
    height: 200px;
  }
  #project2 h2 {
    text-align: right;
  }
  #project2 {
    width: 46%;
    height: 200px;
  }
  #project3 {
    width: 100%;
  }
  #project3 h2  {
    text-align: center;
  }
  #project2 .column{
    height: 200px;
  }
  body {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 992px){
  #project1 {
    width: 30%;
    height: 230px;
  }
  #project2 {
    width: 30%;
    height: 230px;
  }
  #project2 h2  {
    text-align: center;
  }
  #project3 {
    width: 30%;
    height: 230px;
  }
  #project3 h2  {
    text-align: right;
  }
  body {
    padding-left: 13%;
    padding-right: 13%;
  }
}

/* Fonts */

.font_viga {
  font-family: 'Viga', sans-serif;
}
.font_ubuntu {
  font-family: 'Ubuntu Mono', sans-serif;
}
.font_sintony {
  font-family: "Sintony", sans-serif;
}
.font_roboto {
  font-family: "Roboto", sans-serif;
}
.font_ptsans {
  font-family: "PT Sans", sans-serif;
}
.font_fjalla {
  font-family: "Fjalla One", sans-serif;
}

/* Colors
Blue color scheme
color: #134D94, medium blue, body
color: #4E7BB1, light blue, header background
color: #2F63A1, darker light blue, for visited links
color: #0A3B76, lighter navy, for unclicked links
color: #062D5C, navy blue, for headers
color: #E28E0B, complimentary orange
color: #FDF5C9, cream for background
*/

a:visited {
  color: #2F63A1;
}
a:link {
  color: #0A3B76;
}
a:hover{
  color: #E28E0B;
}
