.font_viga {
  font-family: 'Viga', sans-serif;
}
.font_ubuntu {
  font-family: 'Ubuntu Mono', sans-serif;
}
.font_bebas {
  font-family: "Bebas Neue", "Viga", sans-serif;
}
.font_sintony {
  font-family: "Sintony", sans-serif;
}
.font_roboto {
  font-family: "Roboto", sans-serif;
}
