body {
  font-family: "Carme", Arial, sans-serif;
  font-size: 100%;
}
h1 {
  font-family: "Bebas Neue", "Baloo Da", sans-serif;
  font-size: 1.8em;
}
h2 {
  font-family: "Baloo Da", Arial, sans-serif;
  font-size: 1.4em;
}
header {
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 20px;
}
