.titillium {
  font-family: "Titillium Web", Arial, sans-serif;
  font-size: 100%;
}
body {
  font-family: "Titillium Web", Arial, sans-serif;
  font-size: 100%;
}
h1 {
  font-family: "Titillium Web", Arial, sans-serif;
  font-size: 1.8em;
}
header {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}
